 <!-- whishlist is empty -->
 <div class="container mt-3 border p-4" *ngIf="emsg">
    <div class="row text-center">
        <div class="col ">
           <img width="400px" src="https://c.tenor.com/Y3c23UQQ3MIAAAAC/empty-box.gif" alt="cart empty image">
       <h3>Your Whish List is empty</h3>
       <a routerLink="/" class="btn btn-primary mt-3">Add to Whish List</a>
       
        </div>
    </div>
</div>
 
 
 
 <!-- Section-->
 <section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-3 justify-content-center">
            <div class="col mb-5 " *ngFor="let product of whishList">
                <div class="card h-100 " style="align-items: center;">
                    <!-- Product image-->
                    <div class="grow mt-4">
                    <img class="card-img-top" [src]="product.image" alt="..." />
                </div>
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">{{product.title}}</h5>
                            <!-- Product price-->
                            ${{product.price}}
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <button (click)="deletefrmwishlist(product)"   class="btn btn-outline-danger mt-auto" style="float: left;">
                             <i class="fa fa-trash"></i>
                            </button>
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            <button (click)="addToCart(product)" style="float: right;" class="btn btn-outline-success mt-auto">
                             <i class="fa-solid fa-cart-plus"></i>
                            </button>
                     </div>
                    </div>
                </div>
            </div>
           
        </div>
    </div>
</section>

